/*css part of the prismatic night theme. visit https://github.com/dbuxy218/Prismatic-Night*/
/*MANDATORY*/
@import url("patches/tabs-custom.css");
@import url("patches/nav-bar-custom.css");
@import url("patches/tabs-below-nav-bar.css");
@import url("patches/transition-color.css");
/*OPTIONAL*/
/*@import url("patches/tabs-below-content.css");*/
/*@import url("patches/multirow-bookmark-bar.css");*/

/*USE ANY ONE at once*/
/*@import url("patches/ctrl+l-access.css");*/
@import url("patches/hover-access.css");



/* This one is the forward button  */
#forward-button {
    display: none !important;
}

/* This one is the back button  */
#back-button {
    display: none !important;
}

/* This one is the spacer between tabs and border  */
.titlebar-spacer {
    display: none !important;
}

/* This one is the "shield" icon  */
#tracking-protection-icon-container {
    display: none !important;
}


/* This one removes the close button  */
.tabbrowser-tab:not([pinned]) .tab-close-button {
    display: none !important;
}

/* This one clears the tabs icon when they're not pinned  */
.tabbrowser-tab:not([pinned]) .tab-icon-image {
    display: none !important;
}

/* Removing the zoom button  */
#urlbar-zoom-button {
    display: none !important;
}

/* Page action (right three dots button)  */
#pageActionButton {
    display: none !important;
}
